<div>

    <!--Home Header - ng-show at /home and /findapet only-->
<div ng-show='' class="jumbotron">
    <h1> Find a Pet ! Header </h1>
    path at Header: {{$location.path()}}
</div>

    <!--Favorites Counter - on ng-show always-->
<div>Here is my Favorites Count</div>


<!--Dropdown menu.  - ng-show at /home and /findapet only-->
    <div ng-controller="DropdownCtrl">
            <div ng-controller="APIController">
                    <span uib-dropdown on-toggle="toggled(open)">
                          <a href id="simple-dropdown" uib-dropdown-toggle>
                              Search by Animal Type!
                          </a>
                          <ul name="animalList" ng-change='chooseAnimal()' ng-model="randomAnimal" uib-dropdown-menu aria-labelledby="simple-dropdown">
                              <li ng-repeat="choice in items">
                                  <a value="{{choice.value}}" href="{{choice.href}}">{{choice.name}}</a>
                              </li>
                          </ul>
                    </span>

            </div>
    </div>

    <!--Include if showAnimal is True.  Turns true after API results.-->
    <div ng-include="'view/templates/viewRandomAnimal.html'"></div>



<!--View Favorites button. - ng-show at /home and /findapet only-->
    <div ng-show="location.path = '/favorites'">
        <button><a ng-href="#favorites">View Favorites</a></button>
        path at Header: {{location.path()}}
    </div>

<!--Return home button.  ng-show at /findapet and /randonAnimal only-->
    <div ng-show='location.path = "/home"'>
        <div class="returnHome">
            <button><a ng-href="#home">Home</a></button>
        </div>
    </div>
</div>
