<div ng-if="showAnimal">

    <!--<div class="pet-image"><img ng-src="{{randonAnimal.media.photos.photo[2].$t}}" class="random-pet-image"></div>-->

    <!--<div class="pet-info">-->

        <!--<h3>{{randonAnimal.name.$t}}</h3>-->
        <!--<p>Breed: {{randonAnimal.breeds.breed.$t}}</p>-->
        <!--<p>Id: {{randonAnimal.id.$t}}</p>-->
        <!--<p>Age: {{randonAnimal.age.$t}}</p>-->
        <!--<p>Gender: {{randonAnimal.sex.$t}}</p>-->
        <!--<p>Shelter ID: {{randonAnimal.shelterId.$t}}</p>-->
        <!--<p>Shelter Address: {{randonAnimal.contact.address1.$t}}, {{randonAnimal.contact.city.$t}},-->
            <!--{{randonAnimal.contact.state.$t}} {{randonAnimal.contact.zip.$t}}</p>-->
        <!--<p>Shelter email: {{randonAnimal.contact.email.$t}}</p>-->
        <!--<p>Shelter Phone: {{randonAnimal.contact.phone.$t}}</p>-->

        <!--<p>Description: {{randonAnimal.description.$t}}</p>-->
        <!--&lt;!&ndash;<button class="button" ng-click="addFavorite(randonAnimal.id.$t, randonAnimal.name.$t, randonAnimal.description.$t, randonAnimal.media.photos.photo[2].$t)">Add to Favorites</button>&ndash;&gt;-->
    <!--</div>-->

</div>